<!DOCTYPE html>
<html>
  <head>
    <title>weather Page</title>
    <!-- Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
    
    <!-- Jquery & Vue.js -->
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/vue.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <image src="/images/layout/weather.png"/>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </body>
</html>
